*, body{margin: 0px; padding: 0px;}

.menu_nav .row {
    margin-bottom: 20px;
}

.menu_nav .btn {
    /* border: 1px solid #ccc; */
    padding: 1px 3px;
    border-radius: 0px;
}

.menu_nav .btn:hover {
    border: 1px solid #ccc;
}

.menu_nav .btn.active {
    border: 1px solid #000;
}

.menu_nav .btn i {
    font-size: 21px;
    margin: -1px;
}

i.amarelo {
    color: #fff79a;
}

i.laranja {
    color: #f36523;
}

i.marrom {
    color: #736356;
}

.menu_nav .btn:hover i, .menu_nav .btn i {
    /* color: transparent; */
}

i.bege {
    color: #bcb871;
}

.menu_nav .btn i:before {
}

.menu_nav label {
    display: block;
    margin-top: 8px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.panel-body li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    margin-left: 13px;
}

.panel-body li:before {
    font-size: 6px;
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}

.panel-body li a {font-family: "Roboto", Arial, sans-serif;font-size: 15px;color: #777;}

.panel-body li a:hover {
    color: #5794a7;
}

.panel-body {
    padding: 5px;
}

.panel-default>.panel-heading {
    background: #fff;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.panel-default>.panel-heading a {font-family: "Roboto", Arial, sans-serif;font-size: 15px;text-transform: uppercase;font-weight: 500;}

.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus {
    text-decoration: none;
    color: #447c8e;
}

.panel-default>.panel-heading a:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 6px;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}

.panel-default {
    border: 0px;
    box-shadow: none;
}

.menu_nav h1 {
    font-family: "Roboto", Arial, sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.menu_nav {
    padding: 0px;
}

.pagination {
    text-align: center;
    margin-bottom: 30px;
}

.pagination .arrows .btn {
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 3px 10px;
    color: #555;
}

.pagination .arrows .btn.active {
    background: #555;
    color: #fff;
    border: 1px solid #000;
}

.pagination .arrows .btn:hover {
    background: #5794a7;
    border: 1px solid #447c8e;
    color: #fff;
}

.produtos h2 {font-family: "Roboto", Arial, sans-serif;font-size: 15px;float: left;margin-top: 6px;margin-bottom: 0px;color: #999;}

.footer {
    background: #292929;
    color: #ccc;
    padding: 15px;
}

.footer p {
    float: left;
    margin-right: 15px;
    font-family: "Lato", Arial, sans-serif;
    margin-bottom: 0px;
}

.footer p b {
    color: #72b6cc;
}

footer ul li a {font-family: "Lato", Arial, sans-serif;font-size: 13px;color: #333;}

footer ul li:hover a {
    color: #4d889a;
    text-decoration: none;
}

footer ul li:hover:before {
    color: #c00;
}

footer ul li {margin-left: 0px;list-style: none;display: block !important;margin-bottom: 10px;}

footer ul li:before {
    font-size: 5px;
    margin-top: 5px;
    float: left;
    margin-right: 7px;
}

footer .input-group {
    border-radius: 0px;
}

footer .form-control {font-family: "Lato", Arial, sans-serif;border-radius: 0px;}

footer .btn {
    border-radius: 0px;
}

footer p {
    color: #666;
    font-family: "Lato", Arial, sans-serif;
    font-size: 13px;
}

footer h1 {font-family: "Roboto", Arial, sans-serif;color: #444;text-transform: uppercase;font-size: 16px;border-bottom: 1px solid #ddd;padding-bottom: 10px;}

footer {
    background: #efefef;
    border-top: 1px solid #ddd;
    padding: 15px;
}

.features_bottom .thumbnail {
    padding: 0px;
}

.produtos {
    margin-bottom: 60px;
}

.produtos .titulo {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.produtos .produto .botoes .btn {
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 5px 10px;
    color: #333;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.produtos .produto .botoes .btn i {
    font-size: 14px;
}

.produtos .produto .botoes .btn:hover {
    background: #5794a7;
    color: #fff;
    border: 1px solid #4c8698;
}

.produtos .produto .preco {
    display: block;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.preco p.preco_por {font-family: "Roboto", Arial, sans-serif;color: #000;margin-bottom: 0px;display: -webkit-inline-box;}

.preco p.preco_de {
    color: #999;
    font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 0px;
    text-decoration: line-through;
    display: -webkit-inline-box;
    margin-left: 10px;
}

.produtos .produto .link_produto {font-family: "Roboto", Arial, sans-serif;font-weight: 500;text-transform: uppercase;font-size: 13px;color: #333;display: block;margin-bottom: 8px;}

.produtos .produto .link_produto:hover {
    color: #999;
    text-decoration: none;
}

.produtos .produto {
    /* border: 1px solid; */
    min-height: 278px;
    margin-bottom: 20px;
}

.produtos .produto .foto_produto {
    border: 1px solid #eee;
    min-height: 180px;
    text-align: -webkit-center;
    margin-bottom: 10px;
}

.produtos .produto .foto_produto img {
    margin: 0 auto;
    bottom: 0;
}

.produtos .titulo .btn {
    border: 1px solid #ccc;
    padding: 3px 10px;
    border-radius: 0px;
}

.produtos .titulo .btn:hover, .produtos .titulo .btn.active {
    background: #5794a7;
    color: #fff;
    border: 1px solid #488496;
}

.produtos .titulo .arrows {float: right;}

.produtos .titulo h1 {font-family: "Roboto", Arial, sans-serif;color: #5794a7;text-transform: uppercase;font-size: 20px;font-weight: 600;float: left;margin-top: 5px;margin-bottom: 0px;}

.features {
    margin-top: 30px;
}

.banner {
    margin-top: -20px;
    position: relative;
    z-index: 0;
    text-align: center;
    height: 578px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
}

.navbar-collapse {
    border-top: 1px solid #ccc;
}

.navbar-nav {
}

.top_bar {
    /* float: right; */
    display: block;
    height: 45px;
    text-align: right;
}

.top_bar .btn-link {font-family: "Roboto", Arial, sans-serif;font-size: 13px;border-right: 1px solid #ddd;padding: 0px 10px;margin-top: 10px;}

.top_bar .btn-link:last-child {
    border-right: 0px;
}

.navbar {
    background: #fff;
    border-bottom: 0px;
}

.navbar .navbar-nav>li>a {font-family: "Lato", Arial, sans-serif;text-transform: uppercase;font-weight: 600;}

.navbar .navbar-nav>li>a.btn {
    padding: 4px 6px;
    padding-bottom: 5px;
    margin-top: 10px;
    background: #5794a7;
    color: #fff;
    border-radius: 10px;
    text-transform: initial;
    margin-right: 5px;
}

.navbar .navbar-nav>li:last-child>a.btn {margin-right: 0px;}

.navbar .navbar-nav>li>a.btn:hover {
    background: #6cb0c5;
    color: #fff;
    border-color: #5794a7;
}

.navbar .navbar-nav>li>a.btn i {
    font-size: 21px;
}

.navbar .navbar-nav>li:last-child>a.btn i {
    margin-right: 5px;
}

.navbar .navbar-nav>li>a:hover {
    color: #5794a8;
}

header .navbar-brand {
    padding: 0px 30px 0 15px;
    margin-top: -1px;
}
header{
	border-top:2px solid #5794a8;
	background: #fff;
	box-shadow: 1px 1px 2px;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	position: relative;
	z-index: 1;
}